! Commented lines start with '!'

! Import colorscheme first
!#include ".Xresources.d/themes/"

!#include ".Xresources.d/themes/cmyk"
!#include ".Xresources.d/themes/donut"
!#include ".Xresources.d/themes/kiss_shot"
#include ".Xresources.d/themes/senjou"
!#include ".Xresources.d/themes/sky"
!#include ".Xresources.d/themes/sunsetcity"

! Some font rendering fixings
Xft.dpi:        96
Xft.rgba:       rgb
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintslight

! Import term and rofi configs last
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"

