! Commented lines start with '!'

! Included config files
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"

! Choose a theme
!#include ".Xresources.d/themes/"

!#include ".Xresources.d/themes/arc"
#include ".Xresources.d/themes/cmyk"
!#include ".Xresources.d/themes/sky"
!#include ".Xresources.d/themes/sunsetcity"
!#include ".Xresources.d/themes/5cm"
!#include ".Xresources.d/themes/tatsu"
!#include ".Xresources.d/themes/ghoul"

!Some font rendering fixings
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96
