! Commented lines start with '!'

! Import theme colors
!#include ".Xresources.d/themes/cmyk"
!#include ".Xresources.d/themes/donut"
!#include ".Xresources.d/themes/kiss_shot"
!#include ".Xresources.d/themes/senjou"
!#include ".Xresources.d/themes/sky"
!#include ".Xresources.d/themes/sunsetcity"
#include ".Xresources.d/themes/touka"

! Some font rendering fixings
Xft.dpi:        96
Xft.rgba:       rgb
Xft.autohint:   0j
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintslight

! Import rofi theme
!#include ".Xresources.d/rofi/donut.rofi"
!#include ".Xresources.d/rofi/senjou.rofi"
#include ".Xresources.d/rofi/touka.rofi"

#include ".Xresources.d/urxvt"

