#container{
    position:           relative;
    width:              720px;
    height:             480px; 
    margin:             auto; 
    font-family:        'Noto Sans', sans-serif;
    font-size:          20px;
    top: 100px;
}

.links{
    display:            inline;
    float:              left;
    width:              220px;
    padding:            10px;
}

body{
    background-color:   #1c1c20;
}

h3{
    color:              #96a1e0;
}

hr{
    color:              #96a1e0;
}

a{
    color:              #96a1e0;
    text-decoration:    none;
    display:            block;
}

/*input{*/
    /*width:              100%;*/
    /*box-sizing:         border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing:    border-box;*/
}
